.paragraph_internal
  .paragraph_wrapper
    = simple_format(paragraph.full_index + ' ' + paragraph.body_with_resolved_references)
    %p.control
      = link_to "Edit", edit_document_paragraph_path(:document_id => paragraph.document, :id => paragraph), :class => 'edit_paragraph'
      = link_to_if paragraph.can_move_higher?, "Move up", move_higher_document_paragraph_path(:document_id => paragraph.document, :id => paragraph), :method => :post
      = link_to_if paragraph.can_move_lower?, "Move down", move_lower_document_paragraph_path(:document_id => paragraph.document, :id => paragraph), :method => :post
      = link_to_if paragraph.can_outdent?, "Outdent", outdent_document_paragraph_path(:document_id => paragraph.document, :id => paragraph), :method => :post
      = link_to_if paragraph.can_indent?, "Indent", indent_document_paragraph_path(:document_id => paragraph.document, :id => paragraph), :method => :post
      = link_to "Delete", document_paragraph_path(:document_id => paragraph.document, :id => paragraph), :method => :delete
  .edit_paragraph_form{:style => "display: none;"}
    = form_for [paragraph.document, paragraph.prepare_for_editing], :remote => true do |f|
      = render(:partial => 'paragraphs/form', :locals => {:f => f, :cancel_link => true})
