%li
  %p.control
    = link_to "Insert paragraph.", new_document_paragraph_path(:document_id => paragraph.document, :before_id => paragraph.id)
  = paragraph.full_index
  = paragraph.body
  %p.control
    = link_to "Edit.", edit_document_paragraph_path(:document_id => paragraph.document, :id => paragraph)
    = link_to "Delete.", document_paragraph_path(:document_id => paragraph.document, :id => paragraph), :method => :delete
  - if paragraph.last?
    %p.control
      = link_to "Insert paragraph.", new_document_paragraph_path(:document_id => paragraph.document, :after_id => paragraph.id)
  - unless paragraph.children.empty?
    %ol
      - paragraph.children.each do |sub_paragraph|
        = render sub_paragraph
