!!!
%html
  %head
    %meta{:"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8" }
    %title Rticles
    = javascript_include_tag 'jquery-1.5.1.min',  'rails', 'application'
    = stylesheet_link_tag 'style'
  %body
    - if flash[:alert]
      %p.flash.alert= flash[:alert]
    - if flash[:notice]
      %p.flash.notice= flash[:notice]
    = yield
